@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/*
  		100vh hack (part1)
  		// https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
		// https://stackoverflow.com/questions/37112218/css3-100vh-not-constant-in-mobile-browser
  	*/
	--vh: 100%;
}


html,
body {
	position: fixed;
	inset: 0;
	overflow: hidden;
}

a {
  	@apply underline;
}

.vh100 {
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
}

.fhi {
	@apply font-mono;
	font-size: calc(2.5rem + 2.5vw);
	font-weight: bold;
	line-height: 1;
}
